@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scroll: 0;
    --animate-slide-percent: 200;
    --animate-slide-start: var(--animate-slide-percent);
    --animate-slide-end: var(--animate-slide-percent);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply whitespace-normal;
  }
}
