---
import logoLight from '../assets/tim_s_experiments_logo.svg';
import logoDark from '../assets/tim_s_experiments_logo_dark.svg';
---

<header>
  <nav>
    <a href="/" class="h-8 no-underline">
      <img
        class="block h-full dark:hidden"
        src={logoLight.src}
        alt="Tim's Experiments"
      />
      <img
        class="hidden h-full dark:block"
        src={logoDark.src}
        alt="Tim's Experiments"
      />
    </a>
  </nav>
</header>
