---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>

<div
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-rhino-950 transition-colors hover:bg-rhino-800 hover:text-rhino-50 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-rhino-300 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
</div>
