---
import ButtonLink from '../ButtonLink.astro';
---

<div
  class="flex w-full max-w-3xl flex-col items-center justify-center gap-4 text-wrap text-center">
  <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
    Be Part of the Discovery
  </h1>
  <p class="text-rhino-600 dark:text-rhino-400">
    Like what you see? Step into the inner circle of Tim's Experiments by
    becoming a member at no cost! Your free membership unlocks the ability to
    suggest content, engage in discussions with fellow tech enthusiasts, and
    choose whether to opt into our newsletter, crafted specifically for
    technology enthusiasts. Dive into this collaborative space where your ideas
    and participation help shape the future of tech exploration.
  </p>
  <ButtonLink>Become a member</ButtonLink>
</div>
