---
import { Image } from 'astro:assets';
import { Pointer } from 'lucide-react';
import MyJourneyCarousel from './my-journey/carousel';
---

<div
  class="flex w-full flex-col items-center gap-4 sm:gap-8 lg:flex-row lg:justify-center lg:gap-24">
  <div
    class="flex h-52 w-52 min-w-52 justify-center sm:h-64 sm:w-64 sm:min-w-64 md:h-80 md:w-80 lg:min-w-80">
    <Image
      alt="Timothy Altemus"
      class="rounded-full object-cover"
      height="3480"
      width="2320"
      src="/timothy_altemus_headshot.jpeg"
    />
  </div>
  <div class="flex flex-col px-12 lg:pr-14">
    <h1 class="mb-2 text-4xl font-bold">My Journey</h1>
    <MyJourneyCarousel client:load />
    <div class="center flex w-full justify-center py-2 lg:hidden">
      <Pointer
        className="animate-in-viewport text-rhino-400 opacity-0 repeat-[2] [--animate-slide-end:_0] [--animate-slide-start:_400]"
        data-animation="animate-slide-reverse"
      />
    </div>
  </div>
</div>
