---
import { Image } from 'astro:assets';
import { Pointer } from 'lucide-react';
import MyJourneyCarousel from './my-journey/carousel';
---

<div
  class="flex h-full w-full max-w-full flex-col items-center gap-4 sm:gap-8 md:justify-center md:gap-24 lg:flex-row">
  <div
    class="flex h-52 w-52 min-w-52 max-w-full justify-center sm:h-64 sm:w-64 sm:min-w-64 md:max-h-80 md:max-w-80">
    <Image
      alt="Timothy Altemus"
      class="rounded-full object-cover"
      height="3480"
      width="2320"
      src="/timothy_altemus_headshot.jpeg"
    />
  </div>
  <div class="flex max-w-full flex-col px-12 lg:w-3/5">
    <h1 class="mb-2 text-2xl font-bold sm:text-3xl md:text-4xl">My Journey</h1>
    <MyJourneyCarousel client:load />
    <div class="center flex w-full justify-center py-2">
      <Pointer
        className="animate-in-viewport text-rhino-400 opacity-0 repeat-[2] [--animate-slide-end:_0] [--animate-slide-start:_400]"
        data-animation="animate-slide-reverse"
      />
    </div>
  </div>
</div>
