---
import { getCollection } from 'astro:content';
import ButtonLink from '../ButtonLink.astro';
import Article from './the-lab-preview/article.astro';

const publishedBlogEntries = await getCollection('blog', ({ data }) => {
  return data.status === 'published';
});

const last3Articles = publishedBlogEntries
  .sort((first, second) => +first.data.pubDate - +second.data.pubDate)
  .slice(-3)
  .reverse();
---

<div class="flex w-full flex-col gap-10 px-2">
  <div class="display flex w-full flex-col items-center justify-start gap-4">
    <h1
      class="text-wrap text-center text-3xl font-bold sm:text-4xl md:text-5xl">
      Discover the Lab
    </h1>
    <p
      class="w-full max-w-lg text-wrap text-center text-rhino-600 dark:text-rhino-400">
      Delve into a world where technology meets creativity. In 'The Lab', I
      share in-depth insights, innovative ideas, and practical solutions.
    </p>
    <ButtonLink size="sm" href="/lab" variant="default">
      Explore The Lab
    </ButtonLink>
  </div>
  <div
    class="m-auto hidden w-full items-start justify-start gap-8 md:flex md:max-w-5xl lg:max-w-6xl">
    {last3Articles.map(({ data, slug }) => <Article slug={slug} {...data} />)}
  </div>
</div>
