---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Contact from '@/components/home/Contact.astro';
import Hero from '@/components/home/Hero.astro';
import Join from '@/components/home/Join.astro';
import MyJourney from '@/components/home/MyJourney.astro';
import TheLabPreview from '@/components/home/TheLabPreview.astro';
import Nav from '@/components/nav/Nav.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="flex h-screen w-full snap-start snap-always items-center justify-center">
    <div id="hero" class="h-1 w-1 rounded-full bg-blue-500"></div>
  </div>
  <div
    class="flex h-screen w-full snap-start snap-always items-center justify-center">
    <div id="my-journey" class="h-1 w-1 rounded-full bg-red-500"></div>
  </div>
  <div
    id="the-lab"
    class="flex h-screen w-full snap-start snap-always items-center justify-center">
    <div id="the-lab" class="h-1 w-1 rounded-full bg-green-500"></div>
  </div>
  <div
    id="contact"
    class="flex h-screen w-full snap-start snap-always items-center justify-center">
    <div id="contact" class="h-1 w-1 rounded-full bg-yellow-500"></div>
  </div>
  <div
    class="flex h-screen w-full snap-start snap-always items-center justify-center">
    <div id="join" class="h-1 w-1 rounded-full bg-pink-500"></div>
  </div>
  <header
    class="fixed left-0 top-0 z-10 w-full bg-inherit px-2 py-2 sm:px-4 md:px-8 lg:px-12 xl:px-16">
    <Header title={SITE_TITLE} />
  </header>
  <div
    class="fixed bottom-0 left-0 right-0 top-0 flex flex-col justify-between bg-inherit">
    <div class="fixed bottom-0 z-10 mb-16 place-self-center self-center py-2">
      <Nav />
    </div>
    <main class="h-dvh whitespace-nowrap md:pb-28 md:pt-16">
      <section
        class="flex h-full w-screen items-center justify-center px-2 sm:px-4 md:inline-flex md:px-8 lg:px-12 xl:px-16">
        <Hero />
      </section>
      <section
        class="flex h-full w-screen items-center justify-center px-2 sm:px-4 md:inline-flex md:h-auto md:px-4 lg:px-12 xl:px-16">
        <MyJourney />
      </section>
      <section
        class="flex h-full w-screen items-center justify-center px-2 sm:px-4 md:inline-flex md:h-auto md:px-4 lg:px-12 xl:px-16">
        <TheLabPreview />
      </section>
      <section
        class="flex h-full w-screen items-center justify-center px-2 sm:px-4 md:inline-flex md:h-auto md:px-4 lg:px-12 xl:px-16">
        <Contact />
      </section>
      <section
        class="flex h-full w-screen items-center justify-center px-2 sm:px-4 md:inline-flex md:h-auto md:px-4 lg:px-12 xl:px-16">
        <Join />
      </section>
    </main>
  </div>
  <footer
    class="fixed bottom-0 left-0 w-full bg-inherit p-2 sm:px-4 md:px-8 lg:px-12 xl:px-16">
    <Footer />
  </footer>
</BaseLayout>

<style>
  html {
    @apply snap-y snap-mandatory;
  }

  main {
    transform: translateX(0) translateY(calc((var(--scroll) * -1%)));
  }

  @media (min-width: 768px) {
    main {
      transform: translateX(calc((var(--scroll) * -1%))) translateY(0);
    }
  }
</style>
