---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="h-full w-full scroll-smooth">
    <div class="h-screen w-full snap-start snap-always"></div>
    <div class="h-screen w-full snap-start snap-always"></div>
    <div class="h-screen w-full snap-start snap-always"></div>
    <div class="h-screen w-full snap-start snap-always"></div>
    <div class="h-screen w-full snap-start snap-always"></div>
    <div
      class="fixed bottom-0 left-0 right-0 top-0 flex flex-col justify-between py-2 md:px-4 lg:px-12 xl:px-16">
      <Header title={SITE_TITLE} />
      <main class="max-h-full w-full overflow-hidden"></main>
      <Footer />
    </div>
  </div>
</BaseLayout>

<style>
  html {
    @apply snap-y snap-mandatory;
  }
</style>
