---
import { Pointer } from 'lucide-react';
---

<div
  id="cube-pointer-controls"
  class="flex h-full w-full translate-x-2 translate-y-12 items-center justify-center opacity-0 transition-opacity duration-700 ease-in-out">
  <Pointer
    className="opacity-0 repeat-1 [--animate-slide-end:_400] [--animate-slide-start:_300]"
    data-animation="animate-slide-reverse"
  />
</div>
