---
import Key from '@/components/home/hero/Key.astro';
---

<div
  id="cube-controls"
  class="flex w-fit -translate-x-4 flex-col gap-1 opacity-0 transition-opacity duration-500 ease-in-out">
  <div class="flex items-center justify-center">
    <Key id="cube-w-control">W</Key>
  </div>
  <div class="flex items-center justify-center gap-1">
    <Key id="cube-a-control">A</Key>
    <Key id="cube-s-control">S</Key>
    <Key id="cube-d-control">D</Key>
  </div>
</div>
