---
import BaseHead from '../components/BaseHead.astro';
import ScrollTracker from '../components/ScrollTracker.astro';

type Props = {
  title?: string;
  description?: string;
};

export const { title, description } = Astro?.props ?? {};
---

<!doctype html>
<html class="dark" lang="en">
  <head>
    <BaseHead title={title ?? ''} description={description ?? ''} />
  </head>

  <body
    class="bg-sage-50 text-sage-950 dark:bg-sage-950 dark:text-sage-50 h-dvh w-screen">
    <slot />
    <ScrollTracker />
  </body>
</html>
