---
import { Toaster } from '@/components/ui/toaster';
import BaseHead from '../components/BaseHead.astro';
import ScrollTracker from '../components/ScrollTracker.astro';

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro?.props ?? {};
---

<!doctype html>
<html class="dark" lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <!-- Urbanist font. -->
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="h-dvh w-screen bg-rhino-50 text-rhino-950 dark:bg-rhino-950 dark:text-rhino-50">
    <slot />
    <Toaster client:load />
    <ScrollTracker />
    <script src="../scripts/animate.ts"></script>
  </body>
</html>
